footer {
  background: var(--gray-900);
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer > span {
  color: var(--gray-100);
  font-family: Viga;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1.75rem;
  align-items: center;
  display: flex;
}
